.jumbotron{
   
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.9) 100%), url('https://image.freepik.com/free-photo/medical-illustration-bacteria-cells_200694-137.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
   }

   .jumbotron h1{
    color: black;
    
}

